/*
@font-face {
    font-family: grandesign;
    src: url(../res/grandesign_neue_serif_regular/Grandesign_Neue_Serif.ttf);
    font-weight:400;
}
*/
body{
	background:#949494 url(../img/bg-body.png);
	/*font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana;*/
    font-family: 'Arvo', serif;
}

h1,h2,h3,h4,h5,h6{
    /*font-family: granddesign;*/
    font-family: 'Arvo', serif;
}

.container{
    color: #9E9E9E;
    width:980px;
    margin:20px auto;
}

.top{
    background:url(../img/bg-content-top.png) top  no-repeat;
    height: 10px;
}
.bottom{
    background:url(../img/bg-content-bottom.png) bottom  no-repeat;
    height: 10px;
}

.main{
	padding:0 45px;
	background:url(../img/bg-content-repeat.png) repeat-y;
}

header{
	height:115px;
	margin-bottom:30px;
	background:url(../img/double-line.gif) bottom repeat-x;
}


.logo{
	background:url(../img/bg-top.gif) no-repeat;
    float:left;
}

/*
 * Links
 */
 
a{
	color:#a2a1a1; 
	text-decoration:underline;
}
.question a
{
	font-size:12px;
}

a:visited{
	color:#a7a6a6; 
	text-decoration:none;
}
a:hover{
	color:#a7a6a6; 
	text-decoration:none;
}
a img{
	border:none
}
.imgcenter{
	margin:0 auto 8px auto;
	display:block
}
.imgleft{
	float:left; 
	display: inline;
	margin:4px 16px 10px 0px;
}
.imgleftbureau{
	float:left; 
	display: inline;
	margin:-1px 16px 10px 0px;
}
.imgright{
	float:right; 
	display: inline;
	margin:4px 0px 10px 16px;
}

/*
 * Instription newsletter
 */
.well{
	margin:0;
	padding:0;
	border:0px;
	box-shadow:none;
	background:none;
	height:31px;
	line-height:31px;
	margin-right:0px;
}
.well label{
	color: #9E9E9E;
	font-size:12px;
}
.btn{
	color:#A2A1A1;
	margin-bottom:5px;
	padding:5px 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:#E8E8E8;
	cursor: pointer;
}

.news{
padding-top:20px;
margin-bottom:20px;
margin-right:0px;
}

/*
 * Barre de navigation
 */
.navbar{
margin:0;
padding:0;
}

.navbar-inner{
    margin:0;
    padding:0;
    background-color:transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    box-shadow:none;
}

.navbar .nav > li{
	margin-right:0px;
}

.navbar .nav > li > a{
	font-size:14px;
}
.navbar .nav > li > a:hover {
	color:#727472;

}

.navbar .nav > li.current > a {
	color:#727472;
}

/*
 * LE CAROUSEL
 */
#myCarousel{
	
	margin-bottom:0px;
}
.carousel-inner{
margin:0 auto;
width:890px;
height:312px;
}
.carousel-caption{
	width:600px;
	height:74px;
	padding:20px;
}
.carcontrol {
	background:#949494;
	width:640px;
	padding: 5px 20px;
	height:30px;
	font-size:60px;
}

.carcontrol a{
	color:#ffffff;
}

/*
 * Twitter
 */

.twitter{
	width:200px;
	height:35px;
	margin:0;	
}
.twitter img{
	position:relative;
	/*margin-top:10px;
	margin-left:-10px;*/
	top:10px;
	left:-10px;
	
}

.twitter a{
	margin-left:5px;
	font-size:14px;
	color:#949494;
}


/*
 * HOME-PAGE
 */
 
.span11{
	margin:0 auto;
}
.row-fluid .span1{
width:5%;

}

.page-header{
	width:890px;
	height:64px;
	margin:30px auto;
	border:0px;
}
.page-header h1{
	font-size: 30px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 30px;
    color:#908F8F;
    font-weight: normal;
	
}

/* block de text sur la pga d'accueil*/
#home-page{
	background:url(../img/bg-glow.gif) top no-repeat;
	padding:50px 0px 20px 0px;
	margin-bottom:30px;
}

#home-page h2{
	border-bottom: solid 1px #D1D1D1;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 12px;
     color:#908F8F;
    font-weight: normal;

}

#home-page a{
	float:right;
	padding:5px 10px;
	
}

#home-page a.btn:before{
	content:url(../img/ct-info.png) left bottom no-repeat;
	margin-right:10px;
	position:relative;
	top:5px;
	
}



#home-page .span5{
    margin-bottom:20px;
}

#home-page .span5  p{
  height:100px;
  overflow:hidden;
}

/* 
 * About
 */
 
 italic-text{
	font-size:16px;
	font-style:italic;
	line-height:22px;
}
.title-border{
	border-bottom:solid 1px #d1d1d1;
	padding:0 0 10px 0;
	margin-bottom:17px
}
.title-border h3{
	margin-bottom:5px;
}
.title-border .imgleft{
	margin:0 8px 0 0;
}

/*
 * Column
 */
 
 .two_column{
	width:48%;
	float:left;
	margin-right:4%;
}
.nomargin{
	margin-right:0;
}
.two_column .imgleft{
	margin-bottom:30px;
}

/*
* Content List
*/

l.row{
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding:0px;
}
ul.row li{
	list-style-type:none;
	display:list-item;
	margin:0px 0px 30px 0px;
	padding:0px 0px 0px 0px;
}
ul.checklist{
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding:0px;
}
ul.checklist li{
	list-style-type:none;
	display:list-item;
	margin:0px 0px 12px 0px;
	padding:0px 0px 0px 25px;
	background-position:0px -2px;
	background-image:url(../../../../assets/images/list-large.png);
	background-repeat:no-repeat;
	line-height:16px;
}
ul.displayrow{
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding:0px;
}
ul.displayrow li{
	list-style-type:none;
	display:list-item;
	margin:0px 0px 20px 0px;
	padding:0px 0px 20px 0px;
	border-bottom:solid 1px #d5d5d5;
}
ul.number_list{
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding:0px;
}
ul.number_list li{
	background-image:none !important;
	padding-left:0px !important;
	margin-bottom:15px;
}
ul.icon_contact{
	width:259px;
	list-style-type:none;
	margin:0px 0px 5px 0px;
	padding:0px;
}
ul.icon_contact li{
	background-image:none !important;
	padding-left:0px !important;
	margin:-9px 0px 11px 0px;
}

/*
 * Gallery
 */
 
 #gallery_portfolio{
	list-style-type:none;
	margin:0;
	padding:0;
}

#gallery_portfolio li{
	list-style-type:none;
	margin:0 28px 10px 0;
	background-color:#fbfbfb;
	border:solid 1px #d5d5d5;
	border-width:1px 0;
	padding:5px 15px;
	width:530px;
	float:left;
}
#gallery_portfolio li.nomargin{
	margin-right:0 !important;
}
#gallery_portfolio li img{
	margin-bottom:8px;
}
#gallery_nav{
	padding:20px 0 20px 0;
}
#gallery_nav a#gal_prev{
	text-decoration:none;
	font-size:13px;
	border:solid 1px #d1d1d1;
	background-color:#e8e8e8;
	padding:8px 20px 13px 30px;
	background-image:url(../images/gallery_prev.png);
	background-repeat:no-repeat;
	background-position:12px 12px;
	text-shadow:0px 1px 0px #fff;
	width:50px;
}
#gallery_nav a#gal_next{
	text-decoration:none;
	font-size:13px;
	border:solid 1px #d1d1d1;
	background-color:#e8e8e8;
	padding:8px 30px 13px 20px;
	background-image:url(../images/gallery_next.png);
	background-repeat:no-repeat;
	background-position:60px 12px;
	text-shadow:0px 1px 0px #fff;
	width:50px;
	float:right;
	margin-top:-10px
}

/*
 * Footer
 */ 

footer{
	background:url(../img/double-line.gif) top repeat-x;
	margin:0px auto;
	margin-top:30px;
	height:70px;
	padding : 10px 0 0 0;
}

.foot_area{
	height:65px;
	padding-top:20px;
	text-align:center;
	background:url(../img/bg-bottom.gif) left bottom no-repeat;
	padding : 5px 0 0 0;
}

/*
 *entete de page
 */
.title-page{
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 0;
    color:#908F8F;
}

.desc_title{
    color: #BEBDBD;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 12px;
}

/*
 * Les formulaires
 */
.formcontact{
    width:406px;
}
input{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.input-xlarge {
    border: 1px solid #D5D5D5;
    font-size: 12px;
    width: 406px;
    padding: 7px 5px;
    margin: 0px 0px 15px 0px;
    color: #959494;
}

.control-group{
    margin-bottom:0px;
}
label{
    margin-bottom:0px;
    color: #9E9E9E;
}
.form-actions{
    padding:0;
    border:none;
    float:right;
    margin:10px 0;
}


.process{
    background-color: #FBFBFB;
    margin-bottom:30px;
    border-top: solid 1px #D5D5D5;
    border-bottom: solid 1px #D5D5D5;
    padding:20px 10px;
    margin-left:5px;
}
.process h2, h2{
    line-height: 20px;
	margin-bottom: 8px;
    color:#908F8F;
    font-size: 18px;
    
}

.process ul {
    list-style-type: none;
    margin: 0px;
    border-width: 1px 0;
    margin-bottom: 30px;

}
ul.number_list {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}
ul.number_list p {
    margin-left: 40px;
    margin-bottom: 10px;
    font-style: italic;
}

.process ul li{
    margin-top:20px;
}
.process a{
    color: #9E9E9E;
    text-decoration: underline;
}
.process a:hover {
    color: #C6C4C4;
    text-decoration: underline;
}
.text_list {
    font-weight: bold;
    margin-left: 40px;
}

.large_number {
    font-size: 36px;
    float: left;
    line-height: 38px;
}